.bb-app-bar {
 .bb-app-bar__search {
    margin-left: 0;
    position: relative;

     .bb-app-bar__search-icon {
        height: 100%;
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;

     }
 }   
}