.bb-pages-create {
    .bb-pages-create__content {
        max-width: 1000px;
        margin: 0 auto;

        .continue {
            align-self: flex-end;
        }
    }

    textarea {
        resize: none;
    }

    .paper {
        height: 100%;
        width: 100%;
    }
}
